<include>
  <context name="default">
    <extension name="internal_extensions">
      <condition field="destination_number" expression="^(\d{2,6})$">
        <action application="set" data="hangup_after_bridge=true"/>
        <action application="set" data="continue_on_fail=true"/>
        <action application="bridge" data="user/${destination_number}@{{ sip_domain }}"/>
        <action application="hangup" data="NO_ROUTE_DESTINATION"/>
      </condition>
    </extension>
{% if outbound_trunk %}
{% for prefix in international_allow_prefixes %}
    <extension name="outbound_intl_allow_{{ prefix }}">
      <condition field="destination_number" expression="^({{ prefix }}\d+)$">
        <action application="set" data="effective_caller_id_number={{ outbound_trunk.caller_id }}"/>
        <action application="set" data="effective_caller_id_name={{ outbound_trunk.caller_id }}"/>
        <action application="set" data="hangup_after_bridge=true"/>
        <action application="bridge" data="sofia/gateway/{{ outbound_trunk.name }}/${destination_number}"/>
        <action application="hangup"/>
      </condition>
    </extension>
{% endfor %}
    <extension name="outbound_intl_block">
      <condition field="destination_number" expression="^(010\d+|00[1-9]\d+)$">
        <action application="log" data="WARNING ===== INTL BLOCKED: ${destination_number} ====="/>
        <action application="hangup" data="CALL_REJECTED"/>
      </condition>
    </extension>
    <extension name="outbound_external">
      <condition field="destination_number" expression="^(0\d+)$">
        <action application="set" data="effective_caller_id_number={{ outbound_trunk.caller_id }}"/>
        <action application="set" data="effective_caller_id_name={{ outbound_trunk.caller_id }}"/>
        <action application="set" data="hangup_after_bridge=true"/>
        <action application="bridge" data="sofia/gateway/{{ outbound_trunk.name }}/${destination_number}"/>
        <action application="hangup"/>
      </condition>
    </extension>
{% endif %}
  </context>
</include>
